doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title other faces.
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    
  body
    div.nav-menu
      span
    div.nav-menu-toggle  
      nav
        ul
          li GALERIA
          li UBICACION
          li HISTORIA
          li CONTACTO
          
    header.bird-box
      nav.columns.twelve
        ul
          li GALERIA
          li UBICACION
          li HISTORIA
          li CONTACTO
          
      .logo
      
      
    
      a.ion-chevron-down.arrow-down



    section.content
      .gallery
        article.design

          h1 Diseños Unicos

          hr

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.

          hr

        .clothes-pics
          .row
            .thumbnail.img-1
            .thumbnail.img-2
            .thumbnail.img-3
          .row
            .thumbnail.img-4
            .thumbnail.img-5
            .thumbnail.img-6

      
            
                
      article.history
      
        h1 Estilo Urbano

        hr

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.

        hr

        .large-window
          .window-tint
            .promo-text Remeras OF
              strong <span>desde</span> $99
              a(href="").window-cta Comprar



        h1 Nuestra Historia

        hr

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.

        hr


        .blog-posts.row

          .post.columns.four.post-1
            h5 Post Title
            img(src="images/posts/one.jpg")
            p Incididunt ut labore et dolore magna.
            p: a.button(href="") Read More

          .post.columns.four.post-2
            h5 Post Title
            img(src="images/posts/two.jpg")
            p Lorem ipsum dolor sit amet.
            p: a.button(href="") Read More

          .post.columns.four.post-3
            h5 Post Title
            img(src="images/posts/three.jpg")
            p Duis aute irure dolor in reprehenderit.
            p: a.button(href="") Read More

    footer
      .row.footer-stuff
        .columns.three
          strong SIGUENOS EN
          ul
            li: a(href="") Twitter
            li: a(href="") Facebook
            li: a(href="") Pinterest
            li: a(href="") Instagram

        .columns.three
          strong TIENDAS AMIGAS
          ul
            li: a(href="") Red Robin
            li: a(href="") Emerald Eagle
            li: a(href="") Crimson Crane
            li: a(href="") Auburn Abbot

        .columns.six
          p <strong>Quiero recibir novedades</strong> Deja tu mail para recibir ofertas y promociones!

          form.row
            .columns.eight
              input.u-full-width(type="email" placeholder="Your Email")
            .columns.four
              input.button-primary(type="submit")


    script(src="js/jquery-2.1.3.min.js")
    script(src="js/functions.js")
